<div class="row mt-4">
    <div class="col-md-6">
        <h1 class="mb-2">Ricerca cliente per codice fiscale, con Fetch</h1>
        <label for="codFiscInput" class="form-label">Codice Fiscale:</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="codFiscInput" name="codFiscInput" placeholder="Inserisci il codice fiscale">
            <button class="btn btn-primary" type="button" id="fetchDataButton">Fetch Ospiti</button>
        </div>
    </div>
</div>

<div id="spedizioni-container" class="mt-4"></div>

<script>
    document.getElementById('fetchDataButton').addEventListener('click', function () {
        const codFisc = document.getElementById('codFiscInput').value;
        fetch('/Prenotazioni/GetCliente?codFisc=' + codFisc)
            .then(response => response.json())
            .then(data => {
                document.getElementById('spedizioni-container').innerHTML = '';
                data.forEach(spedizione => {
                    const div = document.createElement('div');
                    div.innerHTML = `
                        <div class="card mb-3">
                            <div class="card-body">
                                <h3 class="card-title">Ospite ID: ${spedizione.Ospite_ID}</h3>
                                <p class="card-text"><strong>Nome:</strong> ${spedizione.Nome}</p>
                                <p class="card-text"><strong>Cognome:</strong> ${spedizione.Cognome}</p>
                                <p class="card-text"><strong>Città:</strong> ${spedizione.Citta}</p>
                                <p class="card-text"><strong>Provincia:</strong> ${spedizione.Provincia}</p>
                                <p class="card-text"><strong>Email:</strong> ${spedizione.Email}</p>
                                <p class="card-text"><strong>Telefono:</strong> ${spedizione.Telefono}</p>
                                <p class="card-text"><strong>Codice Fiscale:</strong> ${spedizione.Cod_Fisc}</p>
                            </div>
                        </div>
                    `;
                    document.getElementById('spedizioni-container').appendChild(div);
                });
            })
            .catch(error => {
                console.error('Si è verificato un errore durante la richiesta:', error);
            });
    });

</script>
</main>
